@mixin tablet {
	@media (min-width: 744px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 1200px) {
		@content;
	}
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin title-small {
	font-size: 25px;
	line-height: 1.3;
	color: #333333;
}

@mixin title-medium {
	font-size: 30px;
	line-height: 45px;
	color: #333333;

	@include tablet {
		line-height: 60px;
	}
}

@mixin title-large {
	font-size: 35px;
	line-height: 50px;
	color: #333333;

	@include tablet {
		font-size: 40px;
		line-height: 63px;
	}
}

@mixin container-styles {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

@mixin pages-content {
	@include container-styles;
	padding-bottom: 50px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	font-size: 16px;

	h1 {
		text-align: center;
	}
}
